/* style.css */



/* Estilo para a tabela de filmes */
html {
  font-family: monospace;
}

table {
  border-collapse: collapse;
  border-color: black;
  width: 100%;
  align-content: center;
}



th, td {
  border: 1px solid #ddd;
  padding: 8px;
  
}

th {
  background-color: #f2f2f2;
}

/* Estilo para o formulário de filme */
form {
  width: 300px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

