<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TADS DSW - Projeto Semestral</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' >
    <link href='..\static\css\style.css' rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- <script src='main.js'></script> -->
</head>
<div>

    <body>
        <h1 id="titulo">Listagem de FIlmes</h1>
        <div th:if="${mensagemSucesso}">
            <p class="mensagem-sucesso" th:text="${mensagemSucesso}">Filme incluído com sucesso</p>
        </div>
        
        <div th:if="${not #lists.isEmpty(filmes)}">
            <table>
                <thead>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Gênero</th>
                    <th>Ano Lançamento</th>
                </thead>
                <tr th:each="filme : ${filmes}">
                    <td th:text="${filme.id}"></td>
                    <td th:text="${filme.titulo}"></td>
                    <td th:text="${filme.genero}"></td>
                    <td th:text="${filme.anoLancamento}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(filmes)}">
            <h2>Não há filmes cadastrados</h2>
        </div>
        <br>
        <input type="submit" value="+ Incluir Novo" style="display: flex;" onclick="location.href='/filmes/novo'">
    </body>
</div>

</html>